<section class="container">
    <div class="row bg-azul p-3 rounded">
        <!-- 1° momento do aplicativo. -->
        <h2 class="text-white">Educação Ambiental na preservação do meio ambiente.</h2>
        <p>Usando a correlação que um litro de óleo descartado corretamente deixa de poluir 20 mil litros de água
            potável.</p>

        <div class="form-group col-12 col-md-6 rounded text-danger">
            <label for="">Quantos litros de óleo de cozinha usado você descarta no lixo por mês?</label>
            <input type="number" name="" ng-model="litrosDescarteMes" class="form-control" placeholder=""
                aria-describedby="helpId" required>
            <small id="helpId" class="text-muted">Digite a quantidade em litros</small>
        </div>

        <div class="form-group col-12 col-md-6">
            <div class="alert alert-danger " ng-if="litrosDescarteMes">
                <h3 class="alert-heading"> Sabia que...</h3>
                <p class="">
                    <strong>{{litrosDescarteMes | number}} litros</strong> de óleo pode
                    poluir<strong> {{litrosDescarteMes * 20 | number}} litros</strong> de água!?
                </p>
            </div>
        </div>

    </div>
</section>

<section class="container">
    <div class="row sabao">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6 orientacao rounded bg-cinza">
            <div class="card-body">
                <!-- 2° momento do aplicativo. -->
                <h2>Reciclagem com a fabricação de sabão líquido.</h2>
                <!-- Usando a correlação que: -->
                <ul>
                    <li> 1 litro de óleo de cozinha;</li>
                    <li> 1 litro de álcool 70 %; </li>
                    <li> 350 gramas de soda cáustica em escama; </li>
                    <li> 3,5 litros de água quente; </li>
                    <li> 1/3 do copo americano de açúcar; </li>
                    <li> 1/3 do copo americano de vinagre.</li>
                    <small>OBS.: Sendo 1/3 do copo americano de açúcar e de vinagre? Aproximadamente 70
                        mililitros.</small>
                </ul>

                <p class="alert alert-warning"><strong>Esta receita produz aproximadamente 15 litros de sabão
                        líquido.</strong>
                </p>
                <!-- Sendo que somente a janela de óleo será preenchida pelo usuário pois o aplicativo rodaria o restante ok?
           Se possível no terceiro momento uma última janela mostrando quanto economizaria em um ano sem comprar o sabão
           líquido.
           O que acha??? -->

                <div class="form-group col-12 rounded text-danger">
                    <label for="">Quanto você consome de óleo de cozinha por mes?</label>
                    <input type="number" name="" ng-model="litrosConsumoMes" class="form-control" placeholder=""
                        aria-describedby="helpId" min="0.00" step="0.1">
                    <small id="helpId" class="text-muted">Digite a quantidade em litros</small>
                </div>

                <div class="form-group col-12 alert alert-warning" ng-if="litrosConsumoMes">
                    <div class="">
                        <h3 class="alert-heading"> Sabia que...</h3>
                        <p class=""> Você pode produzir <strong>{{litrosConsumoMes * 15}} litros</strong> de sabão
                            liquido por mês!?</p>
                    </div>


                    <div class="form-group col-12 alert alert-success">
                        <label for="">Qual o valor médio do sabão liquido, em sua região?</label>
                        <input type="number" name="" ng-model="valorSabaoLiquido" class="form-control" placeholder=""
                            aria-describedby="helpId" min="0.00" step="0.1">
                        <small id="helpId" class="text-muted">Digite o valor</small>
                    </div>

                    <div class="col-12 alert alert-danger" ng-if="valorSabaoLiquido">
                        <h3 class="alert-heading"> Você pode revender e ...</h3>
                        <p class=""> Total ganho...:
                            <strong> {{ ((litrosConsumoMes * 15) *  valorSabaoLiquido) | currency: "R$"}} </strong></p>
                        <p class=""> Gasto produção:
                            <strong>{{ ((litrosConsumoMes * 15) * valorSabaoLiquido) * .15  | currency : 'R$'}}
                            </strong>
                        </p>
                        <p class=""> Lucro médio...:
                            <strong>{{ (((litrosConsumoMes * 15) *  valorSabaoLiquido)-((litrosConsumoMes * 15) * valorSabaoLiquido) * .1 ) | currency : 'R$'}}
                            </strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>